.hero-left {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    &--image {
        width: 55%;
        height: auto;
        float: left;
        background-size: cover;
        background-position: center center;
    }
    &--text {
        width:45%;
        float:right;
        padding:2%;
    }
    &--title{
        font-size: larger;
    }
    &--desc{
        font-size: medium;
    }
    
}