.hero-left {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid black 2px;
    &--image {
        width: 100%;
        height: auto;
        min-height: 300px;
        background-size: cover;
        background-position: center center;
        @include tabletAndUp {
            width: 55%;
            min-height: 450px;
          }
    }
    &--text {
        width:100%;
        padding-left: 2%;
        font-size: large;
        @include tabletAndUp {
            width: 45%;
          }
    }
    &--desc{
        font-size: medium;
        padding-right: 1rem;
    }
    &--list-item{
        list-style: none;
    }
    @include tabletAndUp {
        display:flex;
        flex-direction: row;
      }
    
}