---
import Styles from '../../public/site.css';
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import ServiceHero from '../components/ServiceHero.astro';
import LeftHero from '../components/LeftHero.astro';
import RightHero from '../components/RightHero.astro';

const serviceList = ["Lawn Mowing ($75 / 1/4 Acre)",
					"mulching ($150 / cubic yard applied)",
					"spring yard refresh ($125)"];

const {
	title = "Hardscaping Service",
	description = "Trust Our Experts"
}= Astro.props;

---

<html lang="en">
	<head>
		<MainHead
			title={title}
			description={description}
		/>
	</head>
	<body>
		<Nav />
		<ServiceHero 
			heroImage = '/assets/SunsetSuburb.jpg'
			overlayTitle = 'Hardscaping services'
		/>
		<br />
		<LeftHero 
			heroImage='background-image: url(/assets/HardscapeShed.jpg);'
			heroTitle='Integrate with existing architecture'
			heroSummary="From natural stone and boulders to modern pavers and retaining walls, we'll help you choose a custom hardscape that fits seamlessly into your outdoor space. Best of all, our certified installers will make sure your patio, seating wall, and garden paths are built with Chilel Landscaping durable craftsmanship."
		/>
		<RightHero 
			heroImage='background-image: url(/assets/HardscapePath.jpg);'
			heroTitle='Lay a path to your success'
			heroSummary=''
		/>
		<Footer />
	</body>
</html>

