---
// Component Imports
import Styles from '../../public/site.css';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import LeftHero from '../components/LeftHero.astro';
import RightHero from '../components/RightHero.astro';
import MainHero from '../components/MainHero.astro';

// Data Fetching: List all Markdown posts in the repo.
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const {
	title="Chilel Landscaping"
} = Astro.props
---

<html lang="en">
	<head>
		<MainHead
			title={title}
			description={['description']}
		/>
	</head>
	<body>
		<Nav />
		<MainHero 
			heroImage="/assets/BigSuburb.jpg"
		/>
		<br />
		<LeftHero 
			heroImage='background-image: url(/assets/HouseDriveway.jpg);'
			heroSummary="Welcome to Chilel Landscaping! We are a reliable full-service landscape provider in Glenwood, Columbia, Ellicott City and surrounding metros. Established in 1960 Chilel Landscaping is proud to be one of the oldest design/build landscape contractors in the Baltimore, Washington D.C., and Northern Virginia marketplace. We're pleased to offer the area's homeowners, general contractors, developers, and landscape architects a one-stop source for creative designs, competitive pricing, quality landscape services, and added value for over half a century."
			heroTitle='Let us build your dream yard'		
		/>
		<RightHero 
			heroImage='background-image: url(/assets/LayInLawn.jpg);'
			heroSummary='If you are looking for top-quality landscaping services, then your search ends with Chilel Landscaping. We are a team of certified landscapers with over 60 years of expertise in all areas of landscape construction, landscape design and maintenance.'
			heroTitle='Trust The Experts'		
		/>
		<Footer />
	</body>
</html>
