---
import Styles from '../../public/site.css';
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import ServiceHero from '../components/ServiceHero.astro';
import LeftHero from '../components/LeftHero.astro';
import RightHero from '../components/RightHero.astro';

---

<html lang="en">
	<head>
		<MainHead
			title="Residential Services"
			description="Learn about Jeanine White's most recent projects"
		/>
	</head>
	<body>
		<Nav />
		<ServiceHero 
			heroImage = '/assets/SunsetSuburb.jpg'
			overlayTitle = 'We do it all!'
		/>
		<br />
		<LeftHero 
			heroImage='background-image: url(/assets/SnowRemoval.jpg);'
			heroTitle='Snow Removal'
			heroSummary=""
		/>
		<RightHero 
			heroImage='background-image: url(/assets/Powerwash.jpg);'
			heroTitle='Powerwashing'
			heroSummary=''
		/>
		<LeftHero 
			heroImage='background-image: url(/assets/FallLeaves.jpg);'
			heroTitle='Leaf Removal'
			heroSummary=""
		/>
		<RightHero 
			heroImage='background-image: url(/assets/Sweeping.jpg);'
			heroTitle='Path Maintenance'
			heroSummary=''
		/>
		<Footer />
	</body>
</html>
