---
import Style from '../../public/site.css';
const{
    heroImage='/assets/HouseDriveway.jpg',
    heroSummary=''
}= Astro.props;
---

<div class="hero-left">
    <div class="hero-left--image" style="background-image: url(/assets/HouseDriveway.jpg);">
        
    </div>
    <div class="hero-left--text">
        <h2 class="hero-left--title">
            Let us build your dream yard
        </h2>
            <p class="hero-left--desc">

                Welcome to Chilel Landscaping! We are a reliable full-service landscape provider in Glenwood, Columbia, Ellicott City and surrounding metros. Established in 1960 W.H. BOYER, Inc. Landscaping Services is proud to be one of the oldest design/build landscape contractors in the Baltimore, Washington D.C., and Northern Virginia marketplace.
             </p>
        </div>
    </div>