---
import Style from '../../public/site.css';
const{
    heroImage='',
    heroSummary='',
    heroTitle=''
}= Astro.props;
---

<div class="hero-left">
    <div class="hero-left--image" style={heroImage}>
        
    </div>
    <div class="hero-left--text">
        <h2 class="hero-left--title">
            {heroTitle}
        </h2>
            <p class="hero-left--desc">
                {heroSummary}                
            </p>
        </div>
    </div>