---
import Style from '../../public/site.css';
const{
    heroImage='',
    heroSummary='',
    heroTitle=''
}= Astro.props;
---

<div class="hero-right">
    <div class="hero-right--text">
        <h2 class="hero-right--title">
            {heroTitle}
        </h2>
        <p class="hero-right--desc">
            {heroSummary}    
        </p>
    </div>
    <div class="hero-right--image" style={heroImage}></div>
</div>